# learning rate of optimizer for explainer
cf_learning_rate: 35000 # 3000 (deletion) / 65000 (addition) for NDCGApprox, 300 (deletion) for SoftmaxLoss

# how many users should be considered to explain?
user_batch_exp: 48
# loss weight for the graph dist loss
cf_beta: 0.5  # 0.01 for NDCGApproxLoss, 4.0 for SoftmaxLoss

# sensitive attributes to be used in the fairness losses and for following analysis
sensitive_attribute: gender

load_col:
    inter: [user_id, item_id, timestamp]
    item: [item_id, class]
    user: [user_id, gender, age]

random_perturbation_p: 0.00071
users_zero_constraint_value: 0
users_low_degree_ratio: 0.35  # it represent the ratio of the users with the lowest degree
users_furthest_constraint_ratio: 0.35  # it represent the ratio of the furthest users from the non perturbed group
sparse_users_constraint_ratio: 0.35  # it represent the ratio of the users most connected with niche items
items_preference_constraint_ratio: 0.2  # it represent the ratio of items mostly preferred by the perturbed group
niche_items_constraint_ratio: 0.2  # it represents the ratio of the most niche items
