adjustText==0.7.3
graphviz==0.20
matplotlib==3.5.2
networkx==2.8.4
numpy==1.23.1
pandas==1.4.3
pyvis==0.2.1
PyYAML==6.0
recbole==1.0.1
seaborn==0.11.2
tabulate==0.8.10
torch==1.12.0

torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.14
torchviz==0.0.2
tqdm==4.64.0
numba
wandb
igraph
scikit-learn
optuna
gmpy2
dcor
